<?php
/**
 * @link    https://github.com/nnx-company/module-options
 * @author  Malofeykin Andrey  <and-rey2@yandex.ru>
 */
namespace Nnx\ModuleOptions;

return  [
    Module::CONFIG_KEY => [
        //Суффикс прибавляемый к имени модуля. Ожидается что получившиеся строка, будет именем класса настроек модуля
        'moduleOptionsClassNameSuffix' => 'Options\\ModuleOptions'
    ]
];